body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.login-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center; /* Center-aligns the heading */
  }

.login-container form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-container button {
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    color: red;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .image-side, .login-side {
        height: 50%;
    }
}
.password-container {
    position: relative;
  }
  
  .password-container input {
    width: calc(100% - 40px); /* Adjust to make room for the icon */
     /* Space for the icon */
  }
  
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
 
