.properties-list-container {
  padding: 20px;
  margin-top: 60px;
  margin-bottom: auto;
  margin-left: 120px;
  width: 90%;
  max-width: 1400px;
  max-height: 800px;
  overflow-y: scroll;
}

.properties-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.property-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px; /* Increased border-radius for a more chip-like appearance */
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 20px;
  height: 400px;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle inset shadow for depth */
}

.property-image {
  width: 600px;
  padding-bottom: 30px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px; /* Increased border-radius for the image to match the card */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Retain the shadow for a distinct image container */
}

.property-image img {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}

.property-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  flex-grow: 1;
}

.property-info h3 {
  margin: 0;
  font-size: 1.6em; /* Increase font size for prominence */
  font-weight: bold; /* Make the name bold */
  color: #333; /* Darker color for better readability */
}

.property-info p {
  margin: 8px 0;
  font-size: 1em; /* Standardize font size for text below the name */
  color: #666; /* Lighter color for description text */
}

/* Style for the delete button to make it resemble a chip */
.delete-button {
  background-color: rgba(211, 211, 211, 0.591); /* Light grey background */
  color: black;
  border: none;
  width: fit-content;
  border-radius: 20px; /* Rounded corners to make it chip-like */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500; /* Slightly bold for better readability */
  align-self: flex-start;
  transition: background-color 0.3s;
  display: inline-flex;
  align-items: center;
}

.delete-button:hover {
  background-color: #e32c2c; /* Blue background on hover */
  color: white; /* White text on hover */
}

/* Adding additional chip-like styles */
.delete-button.selected {
  background-color: #e32c2c; /* Highlight the selected chip */
  color: white;
}

.chips {
  display: flex;
  gap: 10px;
}

.chip {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(211, 211, 211, 0.591);
  color: black;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.chip.selected {
  background-color: #007bff;
  color: white;
}

.scrollable-container {
  max-height: 800px;
  overflow-y: auto;
}
